name: hrm-ci

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Branch
        uses: actions/checkout@v2

      - name: Use Node.js 16.x
        uses: actions/setup-node@v1
        with:
          node-version: 16.x

      - name: Install Packages
        run: npm install

      - name: Run Lint
        run: npm run lint --if-present

      - name: Run Unit Tests
        run: npm run test:unit

      - name: Setup database tables
        uses: m4nu56/postgresql-action@1.0
        with:
          # Version of PostgreSQL to use
          postgresql version: 12.7
          # POSTGRES_DB - name for the default database that is created
          postgresql db: hrmdb
          # POSTGRES_USER - create the specified user with superuser power
          postgresql user: hrm
          # POSTGRES_PASSWORD - superuser password
          postgresql password: postgres
          # POSTGRES_INIT_SCRIPTS - directory containing DB init scripts
          postgresql init scripts: hrm-service/service-tests/db-init

      - name: Run HRM Service Tests
        run: npm run test:service:ci
