# Workflow to create a new pre-release with qa suffix
name: "Create a QA candidate release"
# Controls when the action will run.
on:
  workflow_dispatch:
    inputs:
      tag-prefix:
        description: Release tag name.
        required: true
      title:
        description: Release title - The title that will be given to this pre-release.
        required: true

jobs:
  build-and-deploy:
    uses: techmatters/hrm/.github/workflows/hrm-ecs-ci-multiregion.yml@CHI-1267-qa_release_workflow
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
    with:
      send-slack-message: 'false'
      region: us-east-1
      environment: 'development'
  run-e2e-tests:
    needs: build-and-deploy

    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'

      # Clone flex-plugins repo
      - name: Clone flex-plugins repo
        run: git clone https://github.com/techmatters/flex-plugins
        shell: bash
      # Build Playwright
      - name: Install e2e-tests dependencies
        run: npm install
        working-directory: ./flex-plugins/e2e-tests
      - name: Setup dependencies for playwright/browsers
        uses: microsoft/playwright-github-action@v1
      - name: Install Playwright CLI
        run: npx playwright install
        working-directory: ./flex-plugins/e2e-tests
      # Run E2E tests against actual E2E Flex instance
      - name: Run Playwright tests
        run: DEBUG=pw:api PLAYWRIGHT_BASEURL=${{secrets.PLAYWRIGHT_BASEURL_E2E}} PLAYWRIGHT_USER_USERNAME=${{secrets.PLAYWRIGHT_USER_USERNAME}} PLAYWRIGHT_USER_PASSWORD=${{secrets.PLAYWRIGHT_USER_PASSWORD}} TWILIO_ACCOUNT_SID=${{secrets.E2E_DEV_ACCOUNT_SID}} TWILIO_AUTH_TOKEN=${{secrets.E2E_DEV_AUTH_TOKEN}} npx playwright test
        working-directory: ./flex-plugins/e2e-tests
      # Upload artifacts
      # TODO: this is not working and cant tell why :(
      - uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: test-artifacts
          path: flex-plugins/e2e-tests/test-results

  # TODO: move to an action so that can be shared across repos
  generate-pre-release:
    needs: run-e2e-tests

    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Create pre release
        # TODO: remove branch tag
        uses: techmatters/flex-plugins/.github/actions/generate-pre-release@gian_CHI-1262-p2
        with:
          tag-prefix: ${{ inputs.tag-prefix }}
          tag-suffix: 'qa'
          title: ${{ inputs.title }}
          repository: ${{ github.event.repository.name }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
        id: create_pre_release

      ## TODO: Abstract all of this in a custom action reused across repos?
      # Setup credentials to access AWS for parameters
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}
      # Set env vars to send slack message
      - name: Set GITHUB_ACTIONS_SLACK_BOT_TOKEN
        uses: "marvinpinto/action-inject-ssm-secrets@latest"
        with:
          ssm_parameter: "GITHUB_ACTIONS_SLACK_BOT_TOKEN"
          env_variable_name: "GITHUB_ACTIONS_SLACK_BOT_TOKEN"
      - name: Set ASELO_DEPLOYS_CHANNEL_ID
        uses: "marvinpinto/action-inject-ssm-secrets@latest"
        with:
          ssm_parameter: "ASELO_DEPLOYS_CHANNEL_ID"
          env_variable_name: "ASELO_DEPLOYS_CHANNEL_ID"
      # Send Slack notifying success
      - name: Slack Aselo channel
        id: slack
        uses: slackapi/slack-github-action@v1.14.0
        with:
          channel-id: ${{ env.ASELO_DEPLOYS_CHANNEL_ID }}
          slack-message: "`[Serverless]` Action ${{ github.workflow }} completed with SHA ${{ github.sha }}. Release tag is ${{ steps.create_pre_release.outputs.automatic_releases_tag }} :rocket:."
        env:
          SLACK_BOT_TOKEN: ${{ env.GITHUB_ACTIONS_SLACK_BOT_TOKEN }}